In [52]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [53]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Lumeje,6,AO,2022-06-11 14:29:27,24,-11.5500,20.7833,79.38,6.35
1,1,Preobrazheniye,9,RU,2022-06-11 14:29:27,93,42.9019,133.9064,51.48,1.61
2,2,Mathbaria,92,BD,2022-06-11 14:29:28,85,22.2876,89.9593,83.91,11.12
3,3,Carnarvon,2,AU,2022-06-11 14:29:28,69,-24.8667,113.6333,70.90,9.64
4,4,Kupang,100,ID,2022-06-11 14:29:28,72,-10.1667,123.5833,78.01,14.52

In [54]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [55]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [56]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [58]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [65]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Lumeje,6,AO,2022-06-11 14:29:27,24,-11.5500,20.7833,79.38,6.35
2,2,Mathbaria,92,BD,2022-06-11 14:29:28,85,22.2876,89.9593,83.91,11.12
4,4,Kupang,100,ID,2022-06-11 14:29:28,72,-10.1667,123.5833,78.01,14.52
6,6,San Patricio,5,US,2022-06-11 14:27:14,64,28.0170,-97.5169,87.84,13.06
12,12,Quebradillas,86,PR,2022-06-11 14:29:31,79,18.4738,-66.9385,88.23,10.00
13,13,Vaini,75,TO,2022-06-11 14:26:13,88,-21.2000,-175.2000,75.36,5.75
15,15,Cockburn Town,40,TC,2022-06-11 14:29:31,70,21.4612,-71.1419,84.16,16.11
21,21,Beyneu,1,KZ,2022-06-11 14:29:33,21,45.3167,55.2000,85.46,5.70
22,22,Bredasdorp,100,ZA,2022-06-11 14:25:29,25,-34.5322,20.0403,76.96,3.58
23,23,Ca Mau,23,VN,2022-06-11 14:29:34,86,9.1769,105.1500,80.19,4.50

In [66]:
preferred_cities_df.count()

City_ID       194
City          194
Cloudiness    194
Country       194
Date          194
Humidity      194
Lat           194
Lng           194
Max Temp      194
Wind Speed    194
dtype: int64

In [67]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0          Lumeje      AO     79.38 -11.5500   20.7833
2       Mathbaria      BD     83.91  22.2876   89.9593
4          Kupang      ID     78.01 -10.1667  123.5833
6    San Patricio      US     87.84  28.0170  -97.5169
12   Quebradillas      PR     88.23  18.4738  -66.9385
13          Vaini      TO     75.36 -21.2000 -175.2000
15  Cockburn Town      TC     84.16  21.4612  -71.1419
21         Beyneu      KZ     85.46  45.3167   55.2000
22     Bredasdorp      ZA     76.96 -34.5322   20.0403
23         Ca Mau      VN     80.19   9.1769  105.1500

In [68]:
 # Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

              City Country  Max Temp      Lat       Lng Hotel Name
0           Lumeje      AO     79.38 -11.5500   20.7833
2        Mathbaria      BD     83.91  22.2876   89.9593
4           Kupang      ID     78.01 -10.1667  123.5833
6     San Patricio      US     87.84  28.0170  -97.5169
12    Quebradillas      PR     88.23  18.4738  -66.9385
..             ...     ...       ...      ...       ...        ...
556  West Wendover      US     78.01  40.7391 -114.0733
559       Upington      ZA     77.38 -28.4478   21.2561
560       Mabaruma      GY     80.64   8.2000  -59.7833
562      Manokwari      ID     78.62  -0.8667  134.0833
563      Marmarion      GR     83.73  38.0484   24.3204

[194 rows x 6 columns]

In [74]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [73]:
# # Get the latitude and longitude.
# lat = row["Lat"]
# lng = row["Lng"]

#     # Add the latitude and longitude to location key for the params dictionary.
# params["location"] = f"{lat},{lng}"

#     # Use the search term: "lodging" and our latitude and longitude.
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#     # Make request and get the JSON data from the search.
# hotels = requests.get(base_url, params=params).json()
#     # Grab the first hotel from the results and store the name.
# #     try:
# #         hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
# #     except (IndexError):
# #         print("Hotel not found... skipping.")
# len(hotels)

In [83]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Lumeje,AO,79.38,-11.5500,20.7833,
2,Mathbaria,BD,83.91,22.2876,89.9593,Shikdar Hotel
4,Kupang,ID,78.01,-10.1667,123.5833,Hotel On The Rock by Prasanthi
6,San Patricio,US,87.84,28.0170,-97.5169,"Motel 6 Sinton, TX"
12,Quebradillas,PR,88.23,18.4738,-66.9385,Villa Abby B&B
...,...,...,...,...,...,...
556,West Wendover,US,78.01,40.7391,-114.0733,"Motel 6 Wendover, UT"
559,Upington,ZA,77.38,-28.4478,21.2561,River Place Manor
560,Mabaruma,GY,80.64,8.2000,-59.7833,Monty Brooms Guest House
562,Manokwari,ID,78.62,-0.8667,134.0833,Swiss Belhotel Manokwari
563,Marmarion,GR,83.73,38.0484,24.3204,GIKAS APARTMENTS - ΓΚΙΚΑΣ Επιπλωμένα Διαμερίσματα

In [78]:
hotel_df.count()

City          194
Country       194
Max Temp      194
Lat           194
Lng           194
Hotel Name    194
dtype: int64

In [91]:
hotel_df.loc[0, "Hotel Name"]

''

In [105]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [106]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
#              dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [107]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [108]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))